@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
}

body {
  background-color: #f3f3f3;
  color: #333;
  line-height: 1.6;
}

header {
  padding: 1rem 0;
  text-align: center;
  background-color: #217346;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

main {
  padding-top: 2.9rem; /* Adjust padding to make space for header */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-input {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.button {
  background-color: #217346;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #145a32;
}

.data-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem; /* Adjust padding for better layout */
}

.original-data-section,
.updated-data-section {
  flex: 1;
  min-width: 0;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
  min-width: 50px;
}

th {
  background-color: #217346;
  color: #fff;
}

.log-container {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.log-container h2 {
  font-size: 1.2rem;
  color: #333;
}

.log-container h3 {
  font-weight: bold;
  color: #217346;
}

.log-container p {
  margin: 0.5rem 0;
}

.options-log-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

#cleaningOptions {
  width: 100%;
  position: sticky; /* Change to sticky */
  top: 3rem; /* Adjust based on your header height */
  background-color: #fff;
  padding: 1rem;
  z-index: 1000;
}

#cleaningOptions h2 {
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1rem;
}

#cleaningOptions label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#cleaningOptions input[type="checkbox"] {
  margin-right: 10px;
}

#missingValuesMethod,
#customValueInput,
#dateFormat {
  display: block;
  margin-top: 10px;
}

footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
